
@{
    ViewBag.Title = "OurCompany";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <img src="~/Images/coffee-shop.jpg" height="400" width="1130" /><br/><br/>

<div class="our_company">
    <span style="font-size: 30px;">Our Company</span><br/><br/>
    <p>Our cafe has become a favourite place for coffee lovers since 2016. Why do they insist on The Coffee Bean? Because they know they can count on our good service,
     a tranquil ambience, a comfortable environment and, of course they can have a good and tasty coffee drinks.</p><br/><br/>

    <p>People come to The Coffee Bean cafe to chat, meet up or work. Therefore, The Coffee Bean is a social cafe, the place where people meet and build relationships.
    And the music played in the The Coffee Bean cafe is chosen for its artistry and appeal.</p>
</div>

