
@{
    ViewBag.Title = "Vision and Mission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="vision_n_mission">
<span style="text-decoration: underline; font-size: 30px;">Vision</span><br/><br/>

<ul>
    <li style="font-size: 20px;">To be a social cafe, the place where everyone meet and build relationships.<br/></li>
    <li style="font-size: 20px; padding-top: 15px;">Providing good coffees and quality food at a resonable price.</li>
</ul>

<br/><br/>

<span style="text-decoration: underline; font-size: 30px;">Mission Statement</span><br/><br/>

<ul>
    <li style="font-size: 20px;">It's always about the coffee quality. We are passionate about sourcing the best quality coffee beans, and roasting them  with great care.</li>
    <li style="font-size: 20px; padding-top: 15px;">We will strive to listen to feedback received through our customers, and staff.</li>
    <li style="font-size: 20px; padding-top: 15px;">We will be in the business of helping our customers to relieve their daily stresses by providing peace of mind through great ambience.</li>
    <li style="font-size: 20px; padding-top: 15px;">Giving total customer satisfaction through :</li>
    <li style="font-size: 20px; margin-left: 50px; list-style-type: square">Quality</li>
    <li style="font-size: 20px; margin-left: 50px; list-style-type: square;">Friendly Staff</li>
    <li style="font-size: 20px; margin-left: 50px; list-style-type: square;">Cleanliness Environment</li>
</ul>
</div>
